#video-grid{
    display: flex;
    justify-content: center;
}

#video{
    height: 300px;
    width: 40rem;
    object-fit: cover;
}

body{
    padding: 0;
    margin: 0;
}

.main{
    height: 100vh;
    display: flex;
}

.main__left{
    flex:0.8;
    display: flex;
    flex-direction: column;
}

.main__right{
    flex:0.2;
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3d3d42;
}

.main__videos{
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__controls{
    display: flex;
    background-color: #1c1E20;
    color: #D2D2D2;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main__controls__block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main__controls__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button i{
    font-size: 24px;
}

.main__controls__button:hover{
    background-color: #343434;
    border-radius: 5px;
}

.leave__meeting{
    color: #ff0000;
}

.main__header{
    color: #f5f5f5;
    text-align: center;
}

.main__chat__window{
    flex-grow: 1;
    overflow-y: scroll;
}

.main__message__container{
    padding: 22px 12px;
    display: flex;
}

.main__message__container input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
}

.messages{
    color: white;
    list-style: none;
}

.unmute{
    color: #ff0000;
}